.arco-menu-horizontal .arco-menu-inner{ padding: 0px 20px; overflow: hidden;}
.arco-menu-horizontal .arco-menu-item{ line-height:70px;}
// .Tiny-header >.arco-menu-light .arco-menu-item.arco-menu-selected .arco-icon,  .Tiny-header> .arco-menu-light .arco-menu-item.arco-menu-selected .arco-menu-icon{ color: #ffffff;}
 
